.button-signup {
background-color: #1B70F1;
  color: white;
  display: inline-block;
  padding: 12px 37px;
  border-radius: 4px;
  gap: 10px;
  border: none;
}
.button-login {
  background-color: #1E1F25;
  color: white;
  display: inline-block;
  padding: 12px 37px;
  border-radius: 4px;
  gap: 10px;
  border: none;
}
.button-startnow {
  background-color: #1B70F1;
  color: white;
  display: inline-block;
  padding: 12px 37px;
  border-radius: 4px;
  gap: 10px;
  border: none;
}
.button-beginner\'s_guide {
  background-color: #1E1F25;
  color: white;
  padding: 12px 37px;
  border-radius: 4px;
  gap: 10px;
  border-color: white;
}
.button-beginner\'s_guide_arrow {
  background-color: #1E1F25;
  color: white;
  padding: 12px 37px;
  border-radius: 4px;
  gap: 10px;
  border-color: white;
  display: flex;
};
